@model SlideItem
@{
    ViewData["Title"] = "Delete";
}

<div class="col-6">
    <h1>Delete</h1>
    <h2>@Model.Title</h2>
    <p>@Model.Offer</p>
    <p>@Model.Description</p>
    <img src="~/assets/images/website-images/@Model.Photo" height="50px" />
</div>
<div class="col-12 mt-3">
    
    <form method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        <span class="text-danger">Eminmisin???</span>
    </form>
    <a class="btn btn-info" asp-action="Index">Go back</a>
</div>
